*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
.navBar{
    background-color: plum;
    color: aliceblue;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
.nav_link{
    color: aliceblue;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
}
.nav_link:hover{
    color: crimson;
    background-color: lightblue;
    font-weight: 900;
}
.container{
    background-color: lavender;
    padding: 5em;
}
.img_container{
    width: 80%;
    margin: 2%;
    border: ridge crimson 1.5em;
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.title{
    text-align: center;
    position: absolute;
    top: 2%;
    left: 5%;
    right: 5%;
    color: whitesmoke;
    font-size: 3em;
    font-family:"Arial Black";
}
.p1{
    position: absolute;
    top: 0%;
    left: 2%;
    color: whitesmoke;
    font-style: italic;
    font-size: 1.1em;
}
.p2{
    position: absolute;
    right: 2%;
    bottom: 40%;
    color: whitesmoke;
    font-style: italic;
    font-size: 1.1em;
}
.container2{
    background-color: rgb(63, 63, 6);
    display: flex;
    flex-wrap: wrap;
}
.img_cont2{
    width: 28%;
    margin: 5% 2%;
}

.sepia1{
    filter: sepia(10%);
}
.sepia2{
    filter: sepia(60%);
}
.sepia3{
    filter: sepia(100%);
}
.blur1{
    filter: blur(1px);
}
.blur2{ 
    filter: blur(5px);
}
.blur3{
    filter: blur(20px);
}
.invert1{
    filter: invert(2%);
}
.invert2{
    filter: invert(40%);
}
.invert3{
    filter: invert(100%);
}
.credits{
    text-align: center;
    background-color: cadetblue;
    padding: 1em;
}
