*{box-sizing: border-box;}

.intro_pg{
    position: absolute;
    top: -0%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-size: 2.5em;
    color: blueviolet;
    font-weight: 900;
    font-family: "Arial black";
}
.intro{
    box-shadow: 2px 2px 5px gray;
    margin: 7em auto;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    width: 80%;
}
img{
    width: 99.99%;
    display: block;
}

.img1{
    width: 46%;
    margin: 2%;
}
.img2{
    width: 46%;
    margin: 2%;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.txt{
    width: 46%;
    margin: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.title{
    background-color: crimson;
    padding: 2%;
    margin: 1em;
}
.navTabs{
    background-color: blue;
    position:fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
.links{
    display: inline-block;
    padding: 1em 3em;
    color: whitesmoke;
    width: 33%;
    text-align: center  ;
}
.links:hover{
    color: brown;
    background-color: bisque;
    font-weight: bolder;
}