*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
.title{
    text-align: center;
    color: blueviolet;
    transition: ease-in-out 2s;
}
title:hover{
    font-family: algerian;
    color: greenyellow;
    text-shadow:1px 1px 5px black ;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.imgContainer1, .imgContainer2{
    width: 200px;
    height: 200px;
    border: ridge 12px brown;
    transition: ease 2s;
    overflow: hidden;
    margin: 5em;
}
.imgContainer1:hover{
    border-radius: 50%;
    border: dotted 10px gold;
    transform: translateX(500px);
}
.imgContainer2:hover{
    border-radius: 50%;
    border: dashed 10px green;
    transform: scale(1.5);
}
.card{
    width: 30%;
    box-shadow: 2px 2px 5px black;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 5em;
    transition: ease 300ms;
}
.cardMsg{
    position: absolute;
    top: 5%;
    left: 2%;
    right: 2%;
    text-align: center;
    color: antiquewhite;
}
.card:hover{
    box-shadow: 0px 0px 5px 3px palevioletred;
    width: 29%;
}
.card:hover .cardMsg{
    color: orangered;
    text-shadow: 1px 1px 3px whitesmoke;
}
/*------------ CLASS ACTIVITY ----------*/
.container{
    display: flex;
    flex-wrap: wrap;
}

.card1{
    width:100% ;
}